campanha_classe_b.txt
~$cluster_analysis.xlsx
campanha_classe_c.txt
cluster_modelold.pkl
__pycache__/analysis.cpython-312.pyc
__pycache__/clustering.cpython-312.pyc
__pycache__/config.cpython-312.pyc
__pycache__/data_processing.cpython-312.pyc
__pycache__/db_connector.cpython-312.pyc
__pycache__/interface.cpython-312.pyc
__pycache__/marketing_campaign.cpython-312.pyc
__pycache__/model_training.cpython-312.pyc
analysis/__pycache__/analysis.cpython-312.pyc
clustering/__pycache__/clustering.cpython-312.pyc
config/__pycache__/config.cpython-312.pyc
db/__pycache__/db_connector.cpython-312.pyc
interface/__pycache__/interface.cpython-312.pyc
marketing/__pycache__/marketing_campaign.cpython-312.pyc
model/__pycache__/model_training.cpython-312.pyc
processing/__pycache__/data_processing.cpython-312.pyc
cluster_analysis.xlsx
.env
.DS_Store
